<h1>Sign Up</h1>
<div class= 'col-xs-4'></div>
<div class= 'col-xs-4'>
	<form method="POST" action="fnsignup" class='col-xs-12'>
		<p class="col-xs-4"> Username:</p>
		<input type="text" class="col-xs-6" name="uname">
		<p class="col-xs-4">Password:</p>
		<input type="password" class="col-xs-6" name="pword">
		<p class="col-xs-4">Confirm password</p>
		<input type="password" class="col-xs-6" name="pwordc">
		<p class="col-xs-12 sub"><input type="submit" name="Sign Up" class="sign" ></p>
	</form>
</div>
<div class= 'col-xs-4'></div>

