<h1>Welcome </h1>
<a href="/login"><p class="col-xs-12 pull-right"><input type="submit" value="LogOut"></p></a>
<div class= 'col-xs-4'></div>
<div class= 'col-xs-4'>
{{name}}
</div>
<div class= 'col-xs-4'></div>